.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.landBg{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;
    text-shadow: 0 2px 1px lightgray
    
}
h1{
    text-shadow: 0 2px 1px lightgray
}
.workBg{
    background: #d1d1d1;
    
}
.aboutBg{
    background: #fff;
}
.contactBg{
    background-color:#f2f2f2;
}
form{
    display:inline;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.panel{
    margin: 5px;
    padding:20px;
    box-shadow: 0 0 10px gray;
    background-color:#f7f7f7;
}
img{
    min-height: 100px;
    min-width: 50px;
    background-color: blue;
}